version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: documents
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env.example
    depends_on:
      - db
